<div class="site_contact_parent container"> 
    <div class="site_contact_img_container">
        <img class="site_contact_img_one " src="../assets/images/231105_TMH_ALFIES_16122a.jpg"/>
    </div>
    <div class="site_contact_content_container">
        <h3 class="site_contact_content_header">FROM INTERIOR DESIGN THROUGH TO COMPLETION
        OF BUILD</h3>
        <p class="site_contact_content_p_one">Based in Sydney and Brisbane, our dynamic studio is increasingly active in hospitality, retail, workspace and
        residential projects. Tom Mark Henry provides detailed and unique design solutions for a range of different project
        types.</p>
        <p class="site_contact_content_p_two">We offer an extensive list of interior design services to take a project from concept to completion.</p>
       <div class="site_contact_button_container">
        <div class="site_contact_button_button">
            <img src="../assets/icons/bed-double.svg" />
        </div>
        <div class="site_contact_button_button">
            <img src="../assets/icons/lamp-floor.svg" />
        </div>
        <div class="site_contact_button_button">
            <img src="../assets/icons/flower-2.svg" />
        </div>
        <div class="site_contact_button_button">
            <img src="../assets/icons/martini.svg" />
        </div>
       
       </div>
        <img class="site_contact_img_two " src="../assets/images/231105_TMH_ALFIES_16103_CROPa.jpg" />
    </div>
</div>