<!-- header.html -->
       <div class="container site_container ">
       <div class="site_first-part">
        <div id="toggle">
            <input id="toggle_check" type="checkbox">
            <span></span>
        </div>
        <h3 class="site_logo">Genshin</h3>
        <nav class="site_nav">
            <ul class="site_list">
                <li><a class="site_list_link" href="#site_home">HOME</a></li>
                <li><a class="site_list_link" href="#site_popular">POPULAR</a></li>
                <li><a class="site_list_link" href="#site_contact">SERVICES</a></li>
                <li><a class="site_list_link" href="#site_public">BOOKING</a></li>
            </ul>
        </nav>
       </div>
        <button class="site_login">Sign In</button>
       </div>
       <div  class="site_over-lay">
        <div class="site_over-lay_parent">
                    <ul>
                        <li class="site_over-lay_list"><a href="#site_home">HOME</a></li>
                        <li class="site_over-lay_list"><a href="#site_popular">POPULAR</a></li>
                        <li class="site_over-lay_list"><a href="#site_contact">SERVICES</a></li>
                        <li class="site_over-lay_list"><a href="#site_public">CONTACT</a></li> 
                    </ul>
        </div>
       </div>