<div class="site_home_parent container">
  <div class="site_home_content">
   <div class="site_content_container">
    <h3 class="site_home_header">
        DRIVEN BY CONNECTIONS, INSPIRED BY AUTHENTICITY
    </h3>
    <p class="site_home_p">Genshin is a leading  award-winning interior design studio, creating influential spaces for luxury’s
    design enthusiasts – enriching our environments, cultures, and the lives of our clients through the environments they
    inhabit.</p>
    <p class="site_home_p site_home_p_2">We place a high value on human connection, ensuring our client’s stories guide every aspect of our work – delivering
    functional spaces, with delightful elements of the unexpected. Core to our success is our investment of time into the
    creative development of every project, along with our ability to remain adaptable throughout the process.</p>
   </div>
    <div class="site_home_search">
        <div class="site_home_search_cat">
            <h3>Property Status:</h3>
            <button class="site_home_search_cat"><a href="#site_latest">Latest</a></button>
            <button class="site_home_search_cat"> <a href="#site_contact">Services</a></button>
        </div>
        <div >
            <div class="site_home_search_detail">
                <div class="site_home_search_input"><input placeholder="What are you looking for?" /></div>
                <div class="site_home_search_input">
                    <input disabled placeholder="All Avaliable Designs" />
                    <img class="drop_down_icon " src="../assets/icons/chevron-down.svg" />
                    <div class="site_designs_drop  ">
                        <ul>
                            <li><p>RESIDENTIAL</p></li>
                            <li><p>HOSPITALITY</p></li>
                            <li><p>RETAIL</p></li>
                            <li><p>WORKPLACE</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="site_home_search_button">Search</button>

        </div>
    </div>
  </div>
  <div class="site_home_img_container">
    <div class="site_home_img"></div>
  </div>
 
</div>
