<div class="container">
<div class="site_popular_top">
    <h3 class="site_popular_head">LATEST  PROJECTS</h3>
    <ul>
        <li class="site_popular_list"><a href="#site_public"><p>BOOKING NOW</p></a></li>
    </ul>
</div>
<div class="site_latest_container">
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/pv_TMH-_-Paddington-0005.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>BALFOUR RESIDENCE,</p>
                <p>2022</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/231105_TMH_ALFIES_15979a.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>AIDEN DARLING HARBOUR,</p>
                <p>2021</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/230726_TMH_BESUTO_40179.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>CUCINA PORTO,</p>
                <p>2020</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/230726_TMH_BESUTO_40235-1.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>THE GIDLEY,</p>
                <p>2019</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/230502_TMH_HOTEL_MORRIS_13047.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>DOPA BY DEVON, </p>
                <p>2019</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/230704_TMH_HOPETOUN_ST_30608.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>WOOLLAHRA RESIDENCE,</p>
                <p>2020</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/AdamGibson_TomMarkHenry_DSCF2503.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>C.C. BABCOQ, </p>
                <p>2018</p>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide site_latest_card">
        <div >
            <img class="ukiyo" src="./../assets/images/pv_TMH-_-Paddington-0005.jpg" alt="dd" />
            <div class="popular_card_content">
                <p>BISTECCA,</p>
                <p>2018</p>
    
            </div>
        </div>
    </article>

</div>
</div>