<div class="container">
<div class="site_popular_top">
    <h3 class="site_popular_head">POPULAR DESIGNS</h3>
    <ul>
        <li class="site_popular_list">HOSPITALITY</li>
        <li class="site_popular_list">RETAIL</li>
        <li class="site_popular_list">WORKPLACE</li>
        <li class="site_popular_list">VIEW ALL</li>
    </ul>
</div>
<div class="site_latest_container">
    <article class="swiper-slide">
        <div class="popular_card">
            <img class="ukiyo" src="./../assets/images//pv_TMH-_-Paddington-0031.jpg" alt="dd" />
            <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide">
        <div class="popular_card">
            <img class="ukiyo" src="./../assets/images//pv_TMH-_-Paddington-0031.jpg" alt="dd" />
            <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>
    
            </div>
        </div>
    </article>
    <article class="swiper-slide">
        <div class="popular_card">
            <img class="ukiyo" src="./../assets/images//pv_TMH-_-Paddington-0031.jpg" alt="dd" />
            <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>
    
            </div>
        </div>
    </article>
</div>
</div>