<div class=" container site_popular">
    <div class="site_popular_top">
        <h3 class="site_popular_head">POPULAR DESIGNS</h3>
        <ul>
            <li class="site_popular_list">HOSPITALITY</li>
            <li class="site_popular_list">RETAIL</li>
            <li class="site_popular_list">WORKPLACE</li>
            <li class="site_popular_list">VIEW ALL</li>
        </ul>
    </div>
    <div class="site_popular_bottom">
      <div class="popular_card popular_car_view">
      
        <div>
          <h3>Swipe For More</h3>  
        </div>
      </div>

      <div class="swiper new-swiper">
        <div class="swiper-wrapper">
          <article class="swiper-slide" >
            <div class="popular_card">
              <img class="ukiyo" src="./../assets/images//pv_TMH-_-Paddington-0031.jpg" alt="dd" />
              <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>

              </div>
            </div>
          </article>
          <article class="swiper-slide" >
            <div class="popular_card">
              <img class="ukiyo" src="./../assets/images/230726_TMH_BESUTO_40179.jpg" alt="dd" />
              <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>
              </div>
            </div>
          </article>
          <article class="swiper-slide">
            <div class="popular_card">
              <img class="ukiyo" src="./../assets/images/200120_TMH_THE_GIDLEY_45058.jpg" alt="dd" />
              <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>
              </div>
            </div>
          </article>
          <article class="swiper-slide">
            <div class="popular_card">
              <img class="ukiyo" src="./../assets/images/230502_TMH_HOTEL_MORRIS_13047.jpg" alt="dd" />
              <div class="popular_card_content">
                <h4>Marchlleow Room</h4>
                <h4>HOSPITALITY</h4>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
</div>

<!-- <div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="popular_card">
        <img src="./../assets/images//210226_CUCINA_PORTO_214608-1.jpg" alt="dd" />
        <div>
          <h4>Marchlleow Room</h4>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="popular_card">
        <img src="./../assets/images//210226_CUCINA_PORTO_214608-1.jpg" alt="dd" />
        <div>
          <h4>Marchlleow Room</h4>
        </div>
      </div>
    </div>
   
    ...
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div> -->