<div class="container ">
    <div class="site_popular_top">
        <h3 class="site_popular_head">RATES AND MEDIAS</h3>
        <ul>
            <li class="site_popular_list">HOSPITALITY</li>
            <li class="site_popular_list">RETAIL</li>
            <li class="site_popular_list">WORKPLACE</li>
            <li class="site_popular_list">VIEW ALL</li>
        </ul>
    </div>
   <div class="public_parent">
    <div class="public_rates">
        <div class="public_rate_item">
            <h3>+30</h3>
            <p>CLIENTS</p>
        </div>
        <div class="public_rate_item">
            <h3>+700</h3>
            <p>PLACES</p>
        </div>
        <div class="public_rate_item">
            <h3>+30</h3>
            <p>HOTELS</p>
        </div>
        <div class="public_rate_item">
            <h3>+200K</h3>
            <p>VIEWS</p>
        </div>
    </div>
    <div class="media_track_container swiper ">
        <div class="media_track swiper-wrapper" data-mouse-down-at="0" data-prev-percentage="0">
            <img class="image swiper-slide" src="../assets/images/DARLINGHURST_BESTOF19_DESIGNCHASER (1).jpg" alt="media_one"
                draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/BISCHOFF_TLP.jpg" alt="media_two" draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/BISCHOFF_EST.jpg" alt="media_three" draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/DARLINGHURST_BESTOF19_DESIGNCHASER.jpg" alt="media_four"
                draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/DARLINGHURST_EST.jpg" alt="media_five" draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/ELITESPINAL_DESIGNCHASER.jpg" alt="media_six" draggable="false" />
        </div>
    </div>
   </div>
    <div class="public_contact">
        <h3>PROJECT ENQUIRIES</h3>
        <Form>
            <input placeholder="Full name" />
            <input placeholder="Phone" />
            <input placeholder="Email" />
            <input placeholder="Project Address" />
            <input placeholder="Business name" />
            <input placeholder="Property size (approx x sqm) name" />
            <input placeholder="What best describe the project?" />
            <input placeholder="What is the project budget?" />
            <textarea draggable="false"  placeholder="Tell us a little more about project."></textarea>
        </Form>
    </div>
</div>