<div class="container ">
    <div class="site_popular_top">
        <h3 class="site_popular_head">RATES AND BOOKING</h3>
        <ul>
            <li><p>MEDIAS, SWIPE FOR MORE</p></li>
        </ul>
    </div>
   <div class="public_parent">
    <div class="public_rates">
        <div class="public_rate_item">
            <h3 class="counter">30+</h3>
            <p class="counter_p">CLIENTS</p>
        </div>
        <div class="public_rate_item">
            <h3 class="counter">700+</h3>
            <p class="counter_p">PLACES</p>
        </div>
        <div class="public_rate_item">
            <h3 class="counter">30+</h3>
            <p class="counter_p">PROJECTS</p>
        </div>
        <div class="public_rate_item">
            <h3 class="counter">200K+</h3>
            <p class="counter_p">VIEWS</p>
        </div>
    </div>
    <div class="media_track_container swiper ">
        <div class="media_track swiper-wrapper" data-mouse-down-at="0" data-prev-percentage="0">
            <img class="image swiper-slide" src="../assets/images/DARLINGHURST_BESTOF19_DESIGNCHASER (1).jpg" alt="media_one"
                draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/BISCHOFF_TLP.jpg" alt="media_two" draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/BISCHOFF_EST.jpg" alt="media_three" draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/DARLINGHURST_BESTOF19_DESIGNCHASER.jpg" alt="media_four"
                draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/DARLINGHURST_EST.jpg" alt="media_five" draggable="false" />
            <img class="image  swiper-slide" src="../assets/images/ELITESPINAL_DESIGNCHASER.jpg" alt="media_six" draggable="false" />
        </div>
    </div>
    <!-- for mobile -->
    <div class="media_track_container_mobile  ">
        <div class="media_track_mobile " data-mouse-down-at="0" data-prev-percentage="0">
            <img class="image " src="../assets/images/DARLINGHURST_BESTOF19_DESIGNCHASER (1).jpg" alt="media_one"
                draggable="false" />
            <img class="image " src="../assets/images/BISCHOFF_TLP.jpg" alt="media_two" draggable="false" />
            <img class="image " src="../assets/images/BISCHOFF_EST.jpg" alt="media_three" draggable="false" />
            <img class="image  " src="../assets/images/DARLINGHURST_BESTOF19_DESIGNCHASER.jpg" alt="media_four"
                draggable="false" />
            <img class="image " src="../assets/images/DARLINGHURST_EST.jpg" alt="media_five" draggable="false" />
            <img class="image  " src="../assets/images/ELITESPINAL_DESIGNCHASER.jpg" alt="media_six" draggable="false" />
        </div>
    </div>
    <!-- for mobile -->

   </div>
    <div class="public_contact">
        <h3>PROJECT ENQUIRIES</h3>
        <p>YOU NEED TO SIGN IN FIRST*</p>
        <Form>
            <input class="public_input_1" placeholder="Full name" />
            <input class="public_input_2" placeholder="Phone" />
            <input class="public_input_3" placeholder="Email" />
            <input class="public_input_4" placeholder="Project Address" />
            <input class="public_input_5" placeholder="Business name" />
            <input class="public_input_6" placeholder="Property size (approx x sqm) name" />
            <input class="public_input_7" placeholder="What best describe the project?" />
            <input class="public_input_8" placeholder="What is the project budget?" />
            <textarea class="public_input_9"   placeholder="Tell us a little more about project."></textarea>
            <button type="submit" disabled>Submit</button>
        </Form>
    </div>
</div>