.site_home_parent{
    display: flex;
    gap: 30px;
    position: relative;
    height: 750px;
}

.site_home_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top:var(--header-height);
    position: relative;

}
.site_content_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site_home_header{

    /* width: 704px; */
    font-size: var(--biggest-font-size);
}
.site_home_p{
    margin-top: 25px;
    color:var(--text-color);
    font-size: var(--normal-font-size);
}


.site_home_search{
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    gap:17px;
    padding:10px;

}

.site_home_search_cat,.site_home_search_detail{
    display: flex;
    align-items: center;
    gap:10px;
    color:var(--container-color)
}

.site_home_search_detail{
    flex-direction: column;
}

.site_home_search_input{
  background-color: white;
  border:1px solid black;
  padding:5px;
  /* width: 280px; */
  width: 100%;
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.site_home_search_input input{
    width: 80%;
    border:none;
  background-color: white;
}

.site_home_search_button{
    margin-top: 10px;
    padding: 13px;
    z-index: 0;
    padding-left: 28px;
    padding-right: 28px;
    width: 100%;
}

.site_designs_drop{
   height: 0;
   overflow: hidden;
   position: fixed;
   top:100%;
   z-index: 10;
   color:black;
   background-color: white;
   left: 0;
   right:0;
}
.site_designs_drop li{
    background-color: white;
    padding:8px;
}
.site_designs_drop_active{
    border:1px solid black;
    height:auto;
}

.drop_down_icon{
  z-index: 10;
  transform: rotate(180deg);
  transition: all 1000ms ease;
  
}
.drop_down_icon_active{
    transform: rotate(0deg);
}


/* animate siteHomeImg */
.site_home_img_container {
    min-width: 45%;
    height: 100%;
    justify-content: end;    
    display: none;
}

.site_home_img{
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size:cover;
    background-position: center;
    background-image: url('../assets/images/pv_ka_TMH_Bronte-0022.jpg');
    animation: increaseWidth 2.5s ease;
}

@keyframes increaseWidth {
    from {
        width: 10%;
    }

    to {
        width: 100%;
    }
}

/* drop down */
@keyframes rotateIcon {
    from {
       transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* drop show */
@keyframes dropshow {
from {
        transform:translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Small screens */
@media screen and (min-width: 640px) {
   .site_home_parent{
    height: 570px;
   }
}

/* Medium screens */
@media screen and (min-width: 768px) {
.site_home_img_container {
        display: initial;
    }
.site_home_parent {
    height: 750px;
}
}

/* Large screens */
@media screen and (min-width: 1024px) {
.site_home_img_container{
    display: initial;
}
.site_home_search{
margin-top:30px;
padding:10px;
}
.site_home_search_detail{
    flex-direction: row;
}

}

/* Extra Large screens */
@media screen and (min-width: 1280px) {
    .site_home_parent {
            height: 750px;
        }
    .site_home_search {
        margin-top: 0px;
    }
    .site_home_search_button{
        width: 49%;
    }
    /* Styles for screens equal to or larger than 1280px */
}

/* 2 Extra Large screens */
@media screen and (min-width: 1536px) {
    /* Styles for screens equal to or larger than 1536px */
}