@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');


:root {
    --header-height: 4rem;
    --logo-font-size:1.7rem;
    --first-color: #404A47;
    --first-color-alt: #61716c;
    --title-color: hsl(355, 4%, 15%);
    --text-color: #404A47;
    --text-color-light: #394340;
    --body-color: #fff;
    --container-color: #fff;


    --body-font: 'Hind Madurai', sans-serif;
    --logo-font: 'Lora', serif;
    --header-font:'Montserrat', sans-serif;
    --biggest-font-size: 10.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .988rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width:968px) {
    :root {
        --biggest-font-size: 49px;
        --logo-font-size: 2.2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    border:none;
}

body {
    /* margin: var(--header-height)0 0 0; */
    background-color: var(--body-color);
    color: var(--text-color);
    /* for darkmode */
    transition: .5s;
    cursor: none;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: var(--smaller-font-size);
    padding: 5px 15px 5px 15px ;
    background-color: var(--title-color);
    color: var(--container-color);
}

.container {
    max-width: 95%;
    margin:0 auto;
}
.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
}



/* Small screens */
@media (min-width: 640px) {
    /* Styles for screens equal to or larger than 640px */
}

/* Medium screens */
@media (min-width: 768px) {
    /* Styles for screens equal to or larger than 768px */
}

/* Large screens */
@media (min-width: 1024px) {
    /* Styles for screens equal to or larger than 1024px */
}

/* Extra Large screens */
@media (min-width: 1280px) {
    /* Styles for screens equal to or larger than 1280px */
}

/* 2 Extra Large screens */
@media (min-width: 1536px) {
    /* Styles for screens equal to or larger than 1536px */
}